<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
</head>

<body>
  <h1>Home Page</h1>
  <p><%= message %></p>
  <p><%= user.address %></p>
  <p><%= user.email %></p>
  <p><a href="/signout">Sign out</a></p>
</body>

</html>
